Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
certificates

# testing
/coverage
test.ts
test.js

# build outputs
/out/
/build
*.tsbuildinfo
next-env.d.ts

# debug logs
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.example

# misc
.DS_Store
*.pem
.vercel
build.sh

# prisma
/generated/prisma

.claude

/logs
